SECRET_KEY='django-insecure-nd(s+f(ycmop^8dj#ry#v=i_-gcl9eau_fj$l$-y7ms9c8drc$'
DEBUG=True
ALLOWED_HOSTS='*,b7a3-2409-40f3-1009-a49f-34a2-722a-5d9d-4f33.ngrok-free.app'
CSRF_TRUSTED_ORIGINS='http://127.0.0.1:8000,https://b7a3-2409-40f3-1009-a49f-34a2-722a-5d9d-4f33.ngrok-free.app'

RAZORPAY_KEY_ID='rzp_test_Ey8ivDWGODPlAZ'
RAZORPAY_KEY_SECRET='ttmCr5Cy7mQYI2Eck7W6UD3u'

EMAIL_USER='elaundry09@gmail.com'
EMAIL_PASS='oakramjnejsqcdhi'
